services:
  db:
    container_name: postgres_db

    image: postgres:16


    ports:
      - "5432:5432"

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: examplepassword
      POSTGRES_DB: exampledb

    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:


    build: .
    container_name: go_app


    depends_on:
      db:
        condition: service_healthy

    environment:
      DB_HOST: db
      DB_PORT: "5432"
      DB_USER: postgres
      DB_PASSWORD: examplepassword
      DB_NAME: exampledb
      PORT: "8080"

    ports:
      - "8080:8080"

volumes:
  postgres_data:

